header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  margin: 10px 15px;
  .header__logo {
    a {
      p {
        text-align: left;
        margin: 0;
        color: black;
      }
      text-decoration: none;
    }
  }
  nav {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      a {
        text-decoration: none;
        color: rgb(78, 78, 78);
        &.active {
          color: #ff725e;
        }
        li {
          list-style: none;
          margin: 0 5px;
        }
      }
    }
  }
  .header__login__link,
  .header__logout__button {
    border-radius: 4px;
    width: 80px;
    background-color: black;
    // background-size: 200% auto;
    color: white;
    // box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    // background-image: linear-gradient(
    //   to right,
    //   #ff725e 0%,
    //   #ffabf4 50%,
    //   #ff9d90 100%
    // );
    // transition: 0.5s;
    // border: none;
    // &:hover {
    //   background-position: right center;
    // }
    // &:focus {
    //   outline: #ff9d90;
    // }
    p {
      margin: 8px 0;
      text-transform: uppercase;
      font-size: 12px;
      text-align: center;
      font-weight: 700;
    }
    text-decoration: none;
    cursor: pointer;
  }
}
