.upload__container {
  background-color: #ff9d90;
  height: 100vh;
  padding: 50px 0;
  position: relative;
  h2 {
    margin: 0;
    color: #ffff;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
  }
  .upload__form__container {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 40px auto 0;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    .upload__form {
      display: flex;
      flex-direction: column;

      margin-top: 40px;
      height: 400px;
      width: 250px;

      input {
        border: 0;
        border-bottom: 1px solid black;
        margin: 20px 0;
        padding: 5px 0;
        &:focus {
          outline: #ff9d90;
        }
      }
      input[type='file'] {
        display: none;
      }
      .custom__file__input {
        background-color: black;
        color: #ffff;
        border-radius: 4px;
        width: 80px;
        cursor: pointer;
        padding: 8px 0;
        font-size: 12px;
        text-align: center;
      }
      .image__selection__text__preview {
        color: grey;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: black solid 1px;
        padding-bottom: 5px;
      }
      .artwork__upload__button {
        background-color: black;
        color: #ffff;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
      }
      .upload__error__message {
        max-width: 250px;
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
